.container {
  padding: 4px;
}

.row {
  margin-top: 16px;
  margin-bottom: 24px;
}

.statCard {
  height: 100%;
}

.icon {
  font-size: 28px;
  color: rgb(var(--primary-6));
}

.welcome {
  margin-top: 8px;
}
